@import 'src/@fuse/scss/fuse';

.item-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 5px 5px 5px;
  border-radius: 7px;
  border: 0.5px solid #94eff5;
}

.item-list-2 {
  margin: 10px 0;
}

.last-item-list {
  border-bottom: 0;
}

.background-title {
  align-items: center;
  font-weight: 600;
  padding: 10;
  border-radius: 4px;
  .title {
      color: white;
      padding: 10px;
      margin: 0;
  }
}

.form-right {
  display: inline-block;
}

.item-right {
  height:100px;
  display: inline-block !important;
}

.custom-name-picker {
  text-align: center;
  height: 30px;
  padding-top: 10px;
  margin-bottom: 0 !important;
}

.background-list-pick-up {
  background-image: linear-gradient(-42deg, #76efef 0%, #eaf9f9 47%, #6bf1b3 100%) !important;
  border-radius: 14px;
  -webkit-filter: drop-shadow(2px 4px 6px #e9f3da);
  filter: drop-shadow(2px 4px 6px #e9f3da);
  margin: 5px 5px;
}

.background-name-picker {
  background-image: linear-gradient(-42deg, #4ddcf3 0%, #cbebff 47%, #2AC9DB 100%);
  border-radius: 14px;
  // filter: drop-shadow(2px 4px 6px #CF77F3);
  margin: 5px 5px;
}

.group-drag {
  display: inline-block;
  width: 100%;
  border: 1px solid #9ca6dc;
  border-radius: 5px;
  box-shadow: inset -1px -1px 20px 9px #94eff5;
}

.custom-icon {
  color: #19d239;
  font-size: 20px !important;
}

.todo-list-item {
  display: block;
  position: relative;
  padding: 16px 28px 16px 20px;
  text-transform: none;
  cursor: pointer;
  flex-shrink: 0;
  background: #FFFFFF;


  .handle {
      height: 48px;
      line-height: 48px;
      cursor: move;
      user-select: none;
  }

  &.move-disabled {
      .handle {
          display: none;
      }
  }

  .tags {

      .tag {
          font-size: 11px;
          border-radius: 2px;
          margin: 8px 4px 0 0;
          padding: 3px 8px;
          background-color: rgba(0, 0, 0, 0.08);

          .tag-color {
              width: 8px;
              height: 8px;
              margin-right: 8px;
              border-radius: 50%;
          }
      }
  }

  &.completed {
      background: #EEEEEE;

      .title,
      .notes {
          color: rgba(0, 0, 0, 0.54);
          text-decoration: line-through;
      }
  }

  &.selected {
      background: #FFF8E1;
  }

  .info {
      margin: 0 16px 0 8px;

      .title {
          font-size: 15px;
          font-weight: 500;
      }

      .notes {
          margin-top: 4px;
      }
  }

  .buttons {

      .is-starred {
          margin: 0 0 0 16px;
      }

      .is-important {
          margin: 0;
      }
  }

  &:not(.has-handle):not(.move-disabled),
  &.has-handle [ngxdraghandle],
  &.has-handle [ngxDragHandle] {
      cursor: move;
  }

  .ngx-dnd-content {
      user-select: none;
  }

  &.gu-mirror {
      position: fixed !important;
      margin: 0 !important;
      z-index: 9999 !important;
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      @include mat-elevation(7);
  }

  &.gu-hide {
      display: none !important;
  }

  &.gu-unselectable {
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
  }

  &.gu-transit {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
  }
}
