<ng2-toasty></ng2-toasty>
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24  h-110" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Assignment</span>
      </div>
      <div class="h2 mt-16">Assignment</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <!-- CONTENT -->
  <div class="p-24">
    <form id="form-control" class="row" [formGroup]="searchForm" autocomplete="off">
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="awb_code" matInput placeholder="AWB Code">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="customer_name" matInput placeholder="Customer Name">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input matInput formControlName="from_date" [matDatepicker]="fromDate"
          placeholder="From Date">
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
          <input matInput formControlName="to_date" [matDatepicker]="toDate"
            placeholder="To Date">
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker #toDate disabled="false"></mat-datepicker>
        </mat-form-field>
      <span class="format-line-height-button">
          <button mat-raised-button color="accent" (click)="getList()">Search</button>
          <button mat-raised-button (click)="reset()">Reset</button>
      </span>
    </form>

    <div class="form mt-3">

        <div class="list-cards ngx-dnd-container" fxLayout="row">
          <div fxFlex="25" class="pr-2">
            <div class="background-title mat-cyan-200-bg mb-2" style="margin-top:10px">
              <h2 class="title text-center">Pick Up List</h2>
            </div>
            <div ngxDroppable="assignment" style="margin-right: 10px">
              <div
              (click)="viewDetailAssignment(item)"
              [ngxDraggable]="['assignment']"
              [model]="item"
              *ngFor="let item of listSuggest"
              class="background-list-pick-up todo-list-item has-handle col-sm-12 item-list">
                <h5>{{ item.full_name }}</h5>
              </div>
            </div>
          </div>

        <div fxFlex="75">
            <div class="ml-2 background-title mat-cyan-200-bg" style="margin-top:10px">
                <h2 class="title text-center">Wave Pick Assignment</h2>
              </div>
              <mat-progress-bar *ngIf="showLoadingBar" class="ml-2 loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
              <div class="row ml-2 mt-2 mr-1">
                  <div class="mb-2 form-right col-sm-4"  *ngFor="let assignment of listAssignment">
                    <div class="group-drag">
                      <div class="background-name-picker" (click)="viewAssignmentDetail(assignment)">
                          <h5 class="custom-name-picker">{{ assignment.wv_hdr_num }}</h5>
                      </div>
                        <div [removeOnSpill]="false"
                          [ngClass]="{'red-500-bg' : assignment.wv_sts == 'READY TO PICK', 'amber-500-bg' : assignment.wv_sts == 'READY', 'green-500-bg' : assignment.wv_sts == 'COMPLETED'}"
                          (drop)="addAssignment($event, assignment)"
                          style="width: 95%;" ngxDroppable="assignment"
                          class="item-right todo-list-item has-handle item-list"
                        >
                          <div *ngIf="assignment.picker_name != ''" class="background-list-pick-up todo-list-item has-handle col-sm-12 item-list">
                            <h5>{{ assignment.picker_name }}</h5>
                          </div>
                        </div>
                        <div class="ml-4 mb-2">
                          <mat-icon class="custom-icon secondary-text s-16 d-inline">assignment</mat-icon>
                          <h5 class="d-inline ml-2">{{ assignment.customer_name }}</h5>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
