<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24  h-110" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Sales Calculate Money</span>
            </div>
            <div class="h2 mt-16">Sales Calculate Money</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-24">

        <form [formGroup]="CalculateForm" #formDirective="ngForm" autocomplete="off" class="form" (ngSubmit)="onSubmit($event)">
            <div class="background-title mat-cyan-200-bg margin-top-10">
                <h2 class="title">Calculate</h2>
            </div>
            <mat-progress-bar *ngIf="loading" class="mt-2" color="accent" mode="indeterminate"></mat-progress-bar>

            <div class="box-shadow-form margin-top-10">
                <div class="row">
                    <mat-form-field class="col-sm-12">
                        <input
                        placeholder="Service Name (1) [A]"
                        formControlName="cus_service_id"
                        (keyup)="getService($event)"
                        type="text"
                        aria-label="Number"
                        matInput
                        [matAutocomplete]="autoService"
                      />
                      <mat-autocomplete
                        [displayWith]="displayService.bind(this)"
                        autoActiveFirstOption
                        #autoService="matAutocomplete"
                      >
                        <mat-option
                          (click)="onChangeAutoComplete()"
                          *ngFor="let option of serviceName"
                          [value]="option.cus_service_id"
                        >
                          {{ option.cus_service_name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-12">
                        <mat-select [disabled]="!CalculateForm.value.cus_service_id" formControlName="service_id_example" placeholder="Service Weight Range">
                            <mat-option *ngFor="let item of serviceWeightRange" [value]="item.group1">
                                {{ item.group1 }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-12">
                        <input (keypress)="checkInputNumber($event,true)" formControlName="reweight" matInput placeholder="Weight (2) [B]">
                        <mat-error *ngIf="CalculateForm.controls.reweight.hasError('required')">
                            Weight is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-12">
                      <input
                      [readonly]="!CalculateForm.value.cus_service_id"
                      placeholder="Prefer to the Zone"
                      formControlName="zone_example"
                      (keyup)="getCusCountryZone($event)"
                      type="text"
                      matInput
                      [matAutocomplete]="autoZone"
                    />
                    <mat-autocomplete
                      autoActiveFirstOption
                      #autoZone="matAutocomplete"
                    >
                      <mat-option
                        (click)="onChangeZone(option)"
                        *ngFor="let option of cusCountryZone"
                        [value]="option.result"
                      >
                        {{ option.result }}
                      </mat-option>
                    </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-12">
                        <input [readonly]="!CalculateForm.value.cus_service_id" (keypress)="checkInputNumber($event,true)" formControlName="zone" matInput placeholder="Zone (3) [C]">
                        <mat-error *ngIf="CalculateForm.controls.zone.hasError('required')">
                            Weight is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-12">
                        <mat-select formControlName="type" placeholder="Type (4) [D]">
                            <mat-option *ngFor="let item of type" [value]="item.value">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-12">
                        <mat-select [disabled]="!CalculateForm.value.cus_service_id" formControlName="rangeId" placeholder="Range Weight(5)">
                            <mat-option *ngFor="let item of rangeWeight" [value]="item.id">
                                {{ item.range_code }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button class="button-submit mt-3" mat-raised-button color="accent" name="calculate">Calculate [1-5]</button>
            <button class="button-submit mt-3" mat-raised-button color="orange-800-bg" name="calculateAuto">Calculate [A-D]</button>
            <p *ngIf="result" class="text-center h2" style="color: #3FA6DA;">{{ result }}</p>
        </form>
    </div>
</div>
