<ng2-toasty></ng2-toasty>

<div
  id="ngx-datatable"
  class="page-layout simple fullwidth"
  fusePerfectScrollbar
>
  <!-- HEADER -->
  <div
    class="header mat-accent-bg p-24  h-110"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayout.gt-xs="column"
      fxLayoutAlign.gt-xs="center start"
    >
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Quick Search</span>
      </div>
      <div class="h2 mt-16">Quick Search</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">
    <form
      id="form-control"
      class="row"
      [formGroup]="searchForm"
      (submit)="getList()"
      autocomplete="off"
    >
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="is_range" placeholder="Range">
          <mat-option [value]="">
            Please select option
          </mat-option>
          <mat-option *ngFor="let item of range" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input
          placeholder="Service Name"
          formControlName="service_name"
          (keyup)="getService($event)"
          type="text"
          aria-label="Number"
          matInput
          [matAutocomplete]="autoServiceName"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoServiceName="matAutocomplete"
        >
          <mat-option
            *ngFor="let option of serviceName"
            [value]="option.service_name"
          >
            {{ option.service_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input
          placeholder="Country Name"
          formControlName="country_name"
          (keyup)="getCountry($event)"
          type="text"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of country"
            [value]="option.country_name"
          >
            {{ option.country_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="zone" matInput placeholder="Zone" />
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input
          formControlName="weight"
          matInput
          (keypress)="checkInputNumber($event, true)"
          placeholder="Weight"
        />
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input
          formControlName="value"
          matInput
          (keypress)="checkInputNumber($event, true)"
          placeholder="Value"
        />
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="item_type_id" placeholder="Item Type">
          <mat-option [value]="">
            Please select option
          </mat-option>
          <mat-option *ngFor="let item of itemTypeList" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="format-line-height-button">
        <button mat-raised-button color="accent" type="submit">Search</button>
        <button mat-raised-button (click)="reset()">Reset</button>
      </span>
    </form>

    <ngx-datatable
      (page)="pageCallback($event)"
      class="material"
      [rows]="rows"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [headerHeight]="48"
      [footerHeight]="56"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
      [selectionType]="'checkbox'"
      [count]="total"
      [selected]="selected"
      (tableContextmenu)="onTableContextMenu($event)"
      [externalPaging]="true"
      [scrollbarH]="true"
      [offset]="current_page"
      [limit]="15"
      (sort)="onSort($event)"
      [externalSorting]="true"
    >
      <ngx-datatable-column
        [frozenLeft]="true"
        [width]="70"
        [canAutoResize]="false"
        [sortable]="false"
      >
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <mat-checkbox
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
          ></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Weight" prop="weight"></ngx-datatable-column>

      <ngx-datatable-column
        name="Is Range"
        prop="is_range"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="Service Name"
        prop="service_name"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="Country Name"
        prop="country_name"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="Item Type ID"
        prop="item_type_id"
      ></ngx-datatable-column>

      <ngx-datatable-column name="Zone" prop="zone"></ngx-datatable-column>

      <ngx-datatable-column name="Value" prop="value"></ngx-datatable-column>

      <ngx-datatable-column
        name="Currency"
        prop="currency"
      ></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
