<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Create User</span>
            </div>
            <div class="h2 mt-16">Create User</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-24">

        <form [formGroup]="UserForm" autocomplete="off" class="form">
            <div class="background-title mat-cyan-200-bg margin-top-10">
                <h2 class="title">Registration</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
                <mat-form-field class="width-control">
                    <input formControlName="first_name" matInput placeholder="Frist Name">
                    <mat-error *ngIf="UserForm.controls.first_name.hasError('required')">
                        Frist Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-control">
                    <input formControlName="last_name" matInput placeholder="Last Name">
                    <mat-error *ngIf="UserForm.controls.last_name.hasError('required')">
                        Last Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-control">
                    <input formControlName="username" matInput placeholder="Username">
                    <mat-error *ngIf="UserForm.controls.username.hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-control">
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error *ngIf="UserForm.controls.email.hasError('required')">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-control">
                    <input formControlName="password_hash" matInput placeholder="Password">
                    <mat-error *ngIf="UserForm.controls.password_hash.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-control">
                    <mat-select formControlName="status" placeholder="Status">
                        <mat-option *ngFor="let item of status" [value]="item.value">
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="UserForm.controls.status.hasError('required')">
                        Status is required
                    </mat-error>
                </mat-form-field>
            </div>
            <button class="button-submit" mat-raised-button color="accent" (submit)="onSubmit()">Create</button>
        </form>
    </div>

</div>