<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Sales Quick Search</span>
            </div>
            <div class="h2 mt-16">Sales Quick Search</div>
        </div>
        <div class="reference-button mat-white-bg">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="create()">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Create</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-24">

        <form id="form-control" class="row" [formGroup]="searchForm" (submit)="getList()" autocomplete="off">
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
              <mat-select formControlName="is_range" placeholder="Range">
                <mat-option [value]="">
                  Please select option
                </mat-option>
                <mat-option *ngFor="let item of range" [value]="item.value">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
              <input formControlName="cus_service_code" matInput placeholder="Customer Service Code">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
              <input placeholder="Country Name" formControlName="country_name" (keyup)="getCountry($event)" type="text"
                aria-label="Number" matInput [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of country" [value]="option.country_name">
                  {{ option.country_name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
              <input formControlName="zone" matInput placeholder="Zone">
            </mat-form-field>
            <span class="format-line-height-button">
              <button mat-raised-button color="accent" type="submit">Search</button>
              <button mat-raised-button (click)="reset()">Reset</button>
            </span>
        </form>

        <ngx-datatable (page)="pageCallback($event)" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable"
        [selectionType]="'checkbox'" [count]="total" [selected]="selected" (tableContextmenu)="onTableContextMenu($event)"
        [externalPaging]="true" [scrollbarH]="true" [offset]="current_page" [limit]="15" (sort)="onSort($event)" [externalSorting]="true">

          <ngx-datatable-column [frozenLeft]="true" [width]="70" [canAutoResize]="false" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
              </ng-template>
          </ngx-datatable-column>

            <ngx-datatable-column name="Customer ID" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Weight" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Is Range" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Cus Service Code" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Country Name" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Item Type ID" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Zone" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Value" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column name="Currency" prop="loginname"></ngx-datatable-column>

        </ngx-datatable>

    </div>

</div>
