<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">AWB List</span>
            </div>
            <div class="h2 mt-16">AWB List</div>
        </div>
        <div class="reference-button mat-white-bg">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="create()">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Create</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-24">

        <form id="form-control" [formGroup]="searchForm" (submit)="search()" autocomplete="off">
            <mat-form-field>
                <input formControlName="awb_code" matInput placeholder="Code">
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="awb_sts" placeholder="Status">
                    <mat-option *ngFor="let item of status" [value]="item.value">
                        {{ item.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="created_at" [matDatepicker]="dpCreated" placeholder="Created Date">
                <mat-datepicker-toggle matSuffix [for]="dpCreated"></mat-datepicker-toggle>
                <mat-datepicker #dpCreated disabled="false"></mat-datepicker>
                <mat-error *ngIf="searchForm.controls.created_at.errors?.date">
                    La date d'envoi n'est pas <strong>valide</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="updated_at" [matDatepicker]="dpUpdated" placeholder="Updated Date">
                <mat-datepicker-toggle matSuffix [for]="dpUpdated"></mat-datepicker-toggle>
                <mat-datepicker #dpUpdated disabled="false"></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit">Search</button>
            <button mat-raised-button>Reset</button>
        </form>

        <ngx-datatable (page)="pageCallback($event)" class="material" [rows]="rows"
        [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
        [rowHeight]="'auto'" [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="total"
        [selected]="selected" (select)="onSelect($event)" [externalPaging]="true" [offset]="current_page"
        [limit]="15">

            <ngx-datatable-column [width]="80" [canAutoResize]="false" [sortable]="false">
                <!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template> -->

                <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let- let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox [checked]="isSelected" (click)="onCheck(isSelected, row)" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="100" name="Code" prop="awb_code"></ngx-datatable-column>

            <ngx-datatable-column [width]="80" name="From Phone" prop="from_phone"></ngx-datatable-column>

            <ngx-datatable-column [width]="300" name="From Email" prop="from_email"></ngx-datatable-column>

            <ngx-datatable-column [width]="300" name="From Address" prop="from_address"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Created Date" prop="created_at"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Updated Date" prop="updated_at"></ngx-datatable-column>

            <ngx-datatable-column name="Status" prop="awb_sts"></ngx-datatable-column>

            <ngx-datatable-column name="Description" prop="description  "></ngx-datatable-column>

        </ngx-datatable>
        <!-- <fuse-context-menu [element]="element" [content]="content" [isShow]="contextmenu" [x]="contextmenuX" [y]="contextmenuY">
        </fuse-context-menu> -->

    </div>

</div>
