<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24  h-110" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">{{ title }}</span>
      </div>
      <div class="h2 mt-16">{{ title }}</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">

    <form [formGroup]="WavePickForm" autocomplete="off" class="form" (submit)="onSubmit()">
      <div class="background-title mat-cyan-200-bg margin-top-10">
        <h2 class="title">{{ titleGroup }}</h2>
      </div>
      <div class="box-shadow-form margin-top-10">
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="wv_hdr_num" matInput placeholder="Wave Pick Number">
            <mat-error *ngIf="WavePickForm.controls.wv_hdr_num.hasError('required')">
              Wave Pick Number is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <mat-select [disabled]="true" formControlName="wv_sts" placeholder="Status">
              <mat-option *ngFor="let item of status" [value]="item.key">
                {{ item.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="customer_name" matInput placeholder="Customer Name">
            <mat-error *ngIf="WavePickForm.controls.customer_name.hasError('required')">
              Customer Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="awb_qty" matInput placeholder="AWB quantity">
            <mat-error *ngIf="WavePickForm.controls.awb_qty.hasError('required')">
              AWB quantity is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="customer_address" matInput placeholder="Customer Address">
            <mat-error *ngIf="WavePickForm.controls.customer_address.hasError('required')">
              Customer Address is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" matInput formControlName="received_at" [matDatepicker]="pick_up_date"
              placeholder="Received At">
            <mat-datepicker-toggle matSuffix [for]="pick_up_date"></mat-datepicker-toggle>
            <mat-datepicker #pick_up_date disabled="false"></mat-datepicker>
            <mat-error *ngIf="WavePickForm.controls.pick_up_date.hasError('required')">
                Pick Up Date is required
            </mat-error>
          </mat-form-field>
          <!-- <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="pre_alert" matInput placeholder="Pre Alert">
            <mat-error *ngIf="WavePickForm.controls.pre_alert.hasError('required')">
              Pre Alert is required
            </mat-error>
          </mat-form-field> -->
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="pre_alert_note_for_sales" matInput placeholder="Pre Alert Note For Sales">
            <mat-error *ngIf="WavePickForm.controls.pre_alert_note_for_sales.hasError('required')">
              Pre Alert Note For Sales is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="pre_alert_name" matInput placeholder="Pre Alert Name">
            <mat-error *ngIf="WavePickForm.controls.pre_alert_name.hasError('required')">
              Pre Alert Name is required
            </mat-error>
          </mat-form-field>
          <!-- <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="picker" matInput placeholder="Picker">
            <mat-error *ngIf="WavePickForm.controls.picker.hasError('required')">
              Picker is required
            </mat-error>
          </mat-form-field> -->
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="picker_name" matInput placeholder="Picker Name">
            <mat-error *ngIf="WavePickForm.controls.picker_name.hasError('required')">
              Picker Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="picker_note" matInput placeholder="Picker Note">
            <mat-error *ngIf="WavePickForm.controls.picker_note.hasError('required')">
              Picker Note is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="area" matInput placeholder="Area">
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="sales_note" matInput placeholder="Sales Note For Pre-aler">
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="sales_name" matInput placeholder="Sales Name">
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" formControlName="pick_up_address" matInput placeholder="Pick Up Address">
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="true" matInput formControlName="pick_up_date" [matDatepicker]="pick_up"
              placeholder="Pick Up Date">
            <mat-datepicker-toggle matSuffix [for]="pick_up"></mat-datepicker-toggle>
            <mat-datepicker #pick_up disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Wavepick Details">
          <table class="table table-custom table-striped table-bordered mat-cyan-50-bg">
            <thead>
              <tr>
                <th>ID</th>
                <th>Wave Pick ID</th>
                <!-- <th>Awb ID</th> -->
                <th>Status</th>
                <th>Code</th>
              </tr>
            </thead>
            <tbody formArrayName="details">
              <tr *ngFor="let item of WavePickForm.get('details')['controls']; let i = index" [formGroupName]="i">
                <td class="border-table">
                  <input [readonly]="true" formControlName="wv_dtl_id" matInput>
                  <mat-error
                    *ngIf="WavePickForm.controls.details['controls'][i].controls.wv_dtl_id.hasError('required') && WavePickForm.controls.details['controls'][i].controls.wv_dtl_id.touched">
                    Wave Pick Detail ID is required
                  </mat-error>
                </td>
                <td class="border-table">
                  <input [readonly]="true" formControlName="wv_hdr_id" matInput>
                  <mat-error
                    *ngIf="WavePickForm.controls.details['controls'][i].controls.wv_hdr_id.hasError('required') && WavePickForm.controls.details['controls'][i].controls.wv_hdr_id.touched">
                    Hdr ID is required
                  </mat-error>
                </td>
                <!-- <td class="border-table">
                  <input [readonly]="true" formControlName="awb_id" matInput>
                  <mat-error
                    *ngIf="WavePickForm.controls.details['controls'][i].controls.awb_id.hasError('required') && WavePickForm.controls.details['controls'][i].controls.awb_id.touched">
                    AWB ID is required
                  </mat-error>
                </td> -->
                <td class="border-table">
                  <input [readonly]="true" formControlName="wv_dtl_sts" matInput>
                  <mat-error
                    *ngIf="WavePickForm.controls.details['controls'][i].controls.wv_dtl_sts.hasError('required') && WavePickForm.controls.details['controls'][i].controls.wv_dtl_sts.touched">
                    Wave Pick Status is required
                  </mat-error>
                </td>
                <td class="border-table">
                  <input [readonly]="true" formControlName="awb_code" matInput>
                  <mat-error
                    *ngIf="WavePickForm.controls.details['controls'][i].controls.awb_code.hasError('required') && WavePickForm.controls.details['controls'][i].controls.awb_code.touched">
                    AWB Code is required
                  </mat-error>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Event Tracking">
          <div class="demo-tab-content">
              <div fxLayout="row">
                <span style="margin-top: auto; margin-bottom: auto; margin-right: 20px">Show :</span>
                <mat-form-field class="mr-3" style="width: 100px;">
                  <mat-select [(ngModel)]="numberShow" [ngModelOptions]="{standalone: true}" (change)=changeList($event)>
                    <mat-option *ngFor="let item of showList" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <table class="table table-custom table-striped table-bordered mat-cyan-50-bg">
                  <thead>
                    <tr>
                      <th>Owner</th>
                      <th>Transaction (*)</th>
                      <th>Milestone</th>
                      <th>Event</th>
                      <th>Info</th>
                      <th>Date Time</th>
                      <th>User</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of eventTracking">
                      <td class="border-table">
                        {{ item.owner }}
                      </td>
                      <td class="border-table">
                        {{ item.trans_num }}
                      </td>
                      <td class="border-table">
                        {{ item.description }}
                      </td>
                      <td class="border-table">
                        {{ item.evt_code }}
                      </td>
                      <td class="border-table">
                        {{ item.info }}
                      </td>
                      <td class="border-table">
                        {{ item.created_at }}
                      </td>
                      <td class="border-table">
                        {{ item.user }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </mat-tab>
      </mat-tab-group>
      <button class="button-cancel" mat-raised-button (click)="cancel()">{{ buttonCancel }}</button>
      <button *ngIf="!disabledForm" class="button-submit" mat-raised-button color="accent" type="submit">
        {{ buttonType }}</button>
    </form>
  </div>
</div>
