@import "src/@fuse/scss/fuse";

.custom-nav {
  background: transparent;
  position: relative;
  top: 0;
  z-index: 999;
  box-shadow: none;
}

h1 {
  text-align: center;
  padding: 50px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
}

.center {
  text-align: center;
}

section {
  height: 100vh;
}

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  width: 100%;
  list-style: none;
  text-align: end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 2px;
  text-decoration: none;
  color: #cac8c8;
  font-weight: 400;
  margin: 0 7px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: white;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  top: 94px;
  left: -100px;
  width: 220px;
  background: transparent;
  // background-image: linear-gradient(#0ba4de, #bdd5d6);
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  margin: 0;
  display: block;
  float: left;
  width: 220px;
  list-style: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
}

.sidebar-nav-child {
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
	0 1px 2px rgba(0, 0, 0, 0.24);
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
width: 100%;
}

.menu-siderbar {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
	0 1px 2px rgba(0, 0, 0, 0.24);
}

#sidebar_menu li a, .sidebar-nav li a {
  // color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  color: black;
  background: white;
  // background: #0b80b9;
  // border-top: 1px solid #0652cc;
  // border-bottom: 1px solid #e7eaef;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
  ::after {
    width: 100%;
    height: 0.2em;
    content: '';
    background: black;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
  }
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
line-height: 50px;
text-indent: 20px;
}

.sidebar-nav li a {
// color: #999999;
color: black;
display: block;
text-decoration: none;
}

.sidebar-child-frist {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sidebar-child-last {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar-nav li a:hover {
// color: #93D6EF;
color: black;
background: rgba(255,255,255,0.2);
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 220px;
    transition: all .4s ease 0s;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg {
    min-height: 66px !important;
  }
  nav ul li {
    display: block !important;
    padding: 5px;
  }
}

.icon-nav-custom {
  color: black;
  margin-left: 86px;
  margin-top: 15px;
}

.icon-shipping {
  position: absolute;
  bottom: -10px;
  right: -100px;
  width: 500px;
  animation-delay: 1s;
  transition: transform 0.4s;
  animation-name: animationContainer;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  &:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }
}

.icon-cloud {
  width: 100px;
  top: 300px;
  position: absolute;
  animation: cloud 20s infinite;
  opacity: 0.4;
}

.icon-sun {
  width: 200px;
  top: 90px;
  @extend .icon-cloud;
  animation: cloud 30s infinite;
  opacity: 0.7;
}

@keyframes cloud {
  from {left: 0px;}
  to {left: 1600px; opacity: 0;}
}

.icon-logistics {
  position: absolute;
  bottom: 140px;
  right: 1700px;
  width: 130px;
  animation-delay: 1.7s;
  animation-name: animationItems;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

.title {
  position: absolute;
  top: 250px;
  color: white;
  font-weight: 800;
  top: -100px;
  left: 33%;
  letter-spacing: 3px;
  font-size: 60px;
  animation-name: animationTitle;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes animationItems {
  0% {
    right: 1700px;
  }
  // 80% {
  //   right: 900px;
  // }
  100% {
    right: 670px;
  }
}

@keyframes animationContainer {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 100px;
    opacity: 1;
  }
}

@keyframes animationTitle {
  0% {
    top: -100px;
  }
  20% {
    top: 250px;
  }
  30% {
    top: 200px;
  }
  35% {
    top: 250px;
  }
  37% {
    top: 230px;
  }
  40% {
    top: 250px;
  }
  42% {
    top: 245px;
  }
  43% {
    top: 250px;
  }
  100% {
    top: 250px;
  }
}

.button-custom {
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  height: 40px;
  border: 1px solid white;
  background: transparent;
  padding-left: 20px;
  padding-right: 20px;
  color: #cac8c8;
  &:hover {
    color: white;
  }
}

.open-button {
  position: absolute;
  top: 13px;
  left: 0;
  width: 81px;
  color: white;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  pointer-events: auto;
  z-index: 998;

  mat-icon {
      animation: rotating 3s linear infinite;
  }

  &:hover {
      opacity: 1;
  }
}

@keyframes rotating {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.width-110 {
  width: 100%;
  height: auto;
}

.carousel-custom {
  width: 100%;
}

.nav-custom {
  background: linear-gradient(#b8c1d240, #4a555d61);
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.custom-carousel-button {
  height: 20%;
  top: 40% !important;
  z-index: 999;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: -220px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 220px;
  }
}

@media (max-width: 991px) {
  // .background-group {
  //   background: #03a9f459
  // }
  nav ul {
    text-align: center;
  }
  .is-mobile {
    z-index: 9999
  }
}

.carousel-caption {
  bottom: 100px !important;
  .tittle {
    font-size: 40px;
    font-weight: 600;
  }
  .sub-title {
    margin-left: 5px;
    font-size: 38px;
    font-weight: 300;
    text-decoration: underline;
  }
}

.section-frist {
  .tittle {
    font-weight: 600;
    color: #408fbf
  }
  .group-title {
    display: flex;
    .title-col {
      font-size: 20px;
    }
    .group-text {
      margin-left: 10px;
    }
  }
  img {
    margin-left: 25px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 50%;
    border-color: #0eb493;
    padding: 6px;
    width: 30px;
    height: 30px;
  }
}

.height-auto {
  height: auto
}
