<div fxLayout="column" style="width: 100%;" fusePerfectScrollbar>
    <!-- <img class="icon-shipping" src="assets/images/common/container-truck.png"> -->
    <!-- <img class="icon-logistics" src="assets/images/common/logistics.png">
    <img class="icon-cloud" src="assets/images/common/cloud.png">
    <img class="icon-sun" src="assets/images/common/sun.png"> -->
    <button style="z-index: 9999;" #openButton mat-icon-button class="setting open-button light-blue-bg mat-elevation-z2" (click)="showMenu()">
      <span>MENU</span>
      <mat-icon style="color: white">settings</mat-icon>
    </button>
    <!-- <span class="title">VIETLIGHT EXPRESS</span> -->


    <ng-container>
        <div class="container">
          <nav class="stroke navbar navbar-expand-lg navbar-light custom-nav">
              <!-- Brand -->
              <img width="128" src="assets/images/logos/logo.png">

              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" style="margin-right: 20px;" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Service</a></li>
                      <li><a href="#">Documents</a></li>
                      <li><a href="#">News</a></li>
                      <li><a href="#">Tracking Number</a></li>
                      <li><a href="#">Contact</a></li>
                      <li>
                          <button class="align-center button-custom mr-2" [routerLink]="['/pages/auth/login']" mat-raised-button color="accent">Login Admin</button>
                      </li>
                      <li>
                          <button class="align-center button-custom" onclick="location.href='http://myvietlight.vietlight.info/#/'" mat-raised-button color="accent">My Vietlight</button>
                      </li>
                    </ul>
              </div>

            </nav>
        </div>
              <div class="carousel-custom">
                  <div class="carousel slide" id="main-carousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#main-carousel" data-slide-to="1"></li>
                      <li data-target="#main-carousel" data-slide-to="2"></li>
                    </ol><!-- /.carousel-indicators -->

                    <div class="carousel-inner">
                      <div class="carousel-item active width-100">
                        <img class="d-block img-fluid width-100" src="../../../../../assets/images/backgrounds/logistics1.jpg" alt="">
                        <div class="carousel-caption d-none d-md-block ">
                          <h1>Mountain</h1>
                        </div>
                      </div>
                      <div class="carousel-item width-100">
                        <img class="d-block img-fluid width-100" src="../../../../../assets/images/backgrounds/logistics2.jpg" alt="">
                        <div class="carousel-caption d-none d-md-block">
                          <h3>Mountain</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse vitae exercitationem fugit, numquam minus! 1</p>
                        </div>
                      </div>
                      <div class="carousel-item width-100">
                        <img class="d-block img-fluid width-100" src="../../../../../assets/images/backgrounds/logistics1.jpg" alt="">
                        <div class="carousel-caption d-none d-md-block">
                          <h3>Mountain</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse vitae exercitationem fugit, numquam minus!</p>
                        </div>
                      </div>
                    </div><!-- /.carousel-inner -->

                    <a href="#main-carousel" class="carousel-control-prev" style="z-index: 999;" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                      <span class="sr-only" aria-hidden="true">Prev</span>
                    </a>
                    <a href="#main-carousel" class="carousel-control-next" style="z-index: 999;" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                      <span class="sr-only" aria-hidden="true">Next</span>
                    </a>
                  </div><!-- /.carousel -->
                </div><!-- /.container -->
    </ng-container>



    <div id="wrapper" [ngClass]="{'active': isShowNav}">
    <div id="sidebar-wrapper" style="z-index: 9999;">
        <ul (click)="showMenu()" id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a class="menu-siderbar" id="menu-toggle">Menu<mat-icon class="icon-nav-custom">apps</mat-icon></a></li>
        </ul>
        <ul class="sidebar-nav sidebar-nav-child" id="sidebar">
          <li><a class="sidebar-child-frist"><span>Vietlight's video</span></a></li>
          <li><a>Customer's video<span></span></a></li>
          <li><a>Customer's video<span></span></a></li>
          <li><a>Customer's video<span></span></a></li>
          <li><a>Customer's video<span></span></a></li>
          <li><a class="sidebar-child-last">Customer's video<span></span></a></li>
        </ul>
      </div>
      </div>

</div>


