@import "src/@fuse/scss/fuse";

:host {

    #login {
        width: 100%;
        overflow: auto;
        background-image: linear-gradient(#bbf8f6, #3aebee);
        // background-image: linear-gradient(141deg, #e5f6f7 0%, #7ee0ea 51%, #69cede 75%);
        // background: url('/assets/images/backgrounds/logistics2.jpg') no-repeat;
        // background-size: cover;

        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #login-form {
                width: 384px;
                max-width: 384px;
                padding: 32px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;

                        .remember-me {
                            margin-bottom: 16px
                        }

                        .forgot-password {
                            font-size: 13px;
                            font-weight: 500;
                            margin-bottom: 16px
                        }
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .register {
                    margin: 32px auto 24px auto;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    color: rgba(0, 0, 0, 0.54);

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before, &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {

                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;
                    }

                    @include media-breakpoint('xs') {
                        width: 80%;
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }
}

.toolbar {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    background: white;
    opacity: 0.9;
    float: right;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    // height: 60px;
    .group-toolbar {
        float: right;
        height: 100px;
    }
    .align-center {
        margin-top:auto;
        margin-bottom:auto;
        margin-right: 20px;
    }
}

@media (max-width: 991px) {
  .navbar-expand-lg {
    min-height: 66px !important;
  }
  nav ul li {
    display: block !important;
    padding: 5px;
    margin-right: 35px;
    border-bottom: 1px solid #e0dada;
  }
}

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  padding: 50px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
}

.center {
  text-align: center;
}

section {
  height: 100vh;
}

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  width: 100%;
  list-style: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 2px;
  text-decoration: none;
  color: #2e94d2;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #93d6ef;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  top: 94px;
  left: -100px;
  width: 220px;
  background: transparent;
  // background-image: linear-gradient(#0ba4de, #bdd5d6);
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  margin: 0;
  display: block;
  float: left;
  width: 220px;
  list-style: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
}

.sidebar-nav-child {
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
	0 1px 2px rgba(0, 0, 0, 0.24);
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
width: 100%;
}

.menu-siderbar {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
	0 1px 2px rgba(0, 0, 0, 0.24);
}

#sidebar_menu li a, .sidebar-nav li a {
  // color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  color: black;
  background: white;
  // background: #0b80b9;
  // border-top: 1px solid #0652cc;
  // border-bottom: 1px solid #e7eaef;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
  ::after {
    width: 100%;
    height: 0.2em;
    content: '';
    background: black;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
  }
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
line-height: 50px;
text-indent: 20px;
}

.sidebar-nav li a {
// color: #999999;
color: black;
display: block;
text-decoration: none;
}

.sidebar-child-frist {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sidebar-child-last {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar-nav li a:hover {
// color: #93D6EF;
color: black;
background: rgba(255,255,255,0.2);
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

#main_icon
{
  float:right;
 padding-right: 65px;
 padding-top:20px;
}
.sub_icon
{
  float:right;
 padding-right: 65px;
 padding-top:10px;
}
.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}

@media (max-width:767px) {
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
}
#sidebar-wrapper {
  left: 0;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
  width: 220px;
  transition: all .4s ease 0s;
}
}
.icon-nav-custom {
  color: black;
  margin-left: 86px;
  margin-top: 15px;
}

.icon-shipping {
  position: absolute;
  bottom: -10px;
  right: -100px;
  width: 500px;
  animation-delay: 1s;
  transition: transform 0.4s;
  animation-name: animationContainer;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  &:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }
}

.icon-cloud {
  width: 100px;
  top: 300px;
  position: absolute;
  animation: cloud 20s infinite;
  opacity: 0.4;
}

.icon-sun {
  width: 200px;
  top: 90px;
  @extend .icon-cloud;
  animation: cloud 30s infinite;
  opacity: 0.7;
}

@keyframes cloud {
  from {left: 0px;}
  to {left: 1600px; opacity: 0;}
}

.icon-logistics {
  position: absolute;
  bottom: 140px;
  right: 1700px;
  width: 130px;
  animation-delay: 1.7s;
  animation-name: animationItems;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

.title {
  position: absolute;
  top: 250px;
  color: white;
  font-weight: 800;
  top: -100px;
  left: 33%;
  letter-spacing: 3px;
  font-size: 60px;
  animation-name: animationTitle;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes animationItems {
  0% {
    right: 1700px;
  }
  // 80% {
  //   right: 900px;
  // }
  100% {
    right: 670px;
  }
}

@keyframes animationContainer {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 100px;
    opacity: 1;
  }
}

@keyframes animationTitle {
  0% {
    top: -100px;
  }
  20% {
    top: 250px;
  }
  30% {
    top: 200px;
  }
  35% {
    top: 250px;
  }
  37% {
    top: 230px;
  }
  40% {
    top: 250px;
  }
  42% {
    top: 245px;
  }
  43% {
    top: 250px;
  }
  100% {
    top: 250px;
  }
}

.button-custom {
  border-radius: 27px;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.open-button {
  position: absolute;
  top: 94px;
  left: 0;
  width: 81px;
  color: white;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  pointer-events: auto;
  opacity: .75;
  z-index: 998;

  mat-icon {
      animation: rotating 3s linear infinite;
  }

  &:hover {
      opacity: 1;
  }
}

@keyframes rotating {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.icon {
  min-width: 0;
}

.image-1 {
  background-image: url("../../../../../assets/images/backgrounds/logistics1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-2 {
  @extend .image-1;
  background-image: url("../../../../../assets/images/backgrounds/logistics2.jpg");
}

.image-3 {
  @extend .image-1;
  background-image: url("../../../../../assets/images/backgrounds/logistics3.jpg");
}

.image-4 {
  @extend .image-1;
  background-image: url("../../../../../assets/images/backgrounds/logistics4.jpg");
}

