<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Wave Pick List</span>
      </div>
      <div class="h2 mt-16">Wave Pick List</div>
    </div>

    <div class="reference-button mat-white-bg align-right" *ngIf="hasCreateUserPermission || hasEditUserPermission || hasDeleteUserPermission">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="hasCreateUserPermission" mat-menu-item (click)="create()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Pick Up</span>
        </button>
        <button mat-menu-item (click)="updatePreAlert()">
          <mat-icon>system_update_alt</mat-icon>
          <span>Update Pre Alert</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">

    <form id="form-control" [formGroup]="searchForm" autocomplete="off">
        <mat-form-field class="mr-2">
            <input formControlName="wv_hdr_num" matInput placeholder="Wave Pick #">
        </mat-form-field>
        <mat-form-field class="mr-2 custom-selection">
            <mat-select formControlName="wv_sts" placeholder="Status">
              <mat-option [value]="">
                Please select option
              </mat-option>
              <mat-option *ngFor="let item of status" [value]="item.key">
                {{ item.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="customer_name" matInput placeholder="Customer Name">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="awb_qty" matInput placeholder="Awb Quanlity">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="pick_up_address" matInput placeholder="Address">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="sales_note" matInput placeholder="Sales Note">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="pre_alert" matInput placeholder="Pre Alert">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="pre_alert_note_for_sales" matInput placeholder="Pre Alert Note For Slaes">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="picker" matInput placeholder="Pick up">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="picker_note" matInput placeholder="Pick Up Note">
        </mat-form-field>
        <mat-form-field class="mr-2">
            <input formControlName="area" matInput placeholder="Area">
        </mat-form-field>

      <button class="mr-2 mb-4" mat-raised-button color="accent" (click)="getList()">Search</button>
      <button class="mr-2 mb-4" mat-raised-button (click)="reset()">Reset</button>
    </form>

    <ngx-datatable (page)="pageCallback($event)" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable"
      [selectionType]="'checkbox'" [count]="total" [selected]="selected" [scrollbarH]="true"
      [externalPaging]="true" [offset]="current_page" [limit]="15" (sort)="onSort($event)" [externalSorting]="true">

      <ngx-datatable-column [width]="48" [canAutoResize]="true" [resizeable]="true" [sortable]="false">
        <!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn">
          <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" (click)="all($event)"></mat-checkbox>
        </ng-template> -->

        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn">
          <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="200" [canAutoResize]="true" [resizeable]="true" name="Wave Pick #"
        prop="wv_hdr_num"></ngx-datatable-column>
        <ngx-datatable-column [width]="200" [canAutoResize]="true" [resizeable]="true" name="Wave Pick Status"
        prop="wv_sts"></ngx-datatable-column>
        <ngx-datatable-column [width]="200" [canAutoResize]="true" [resizeable]="true" name="Customer"
        prop="customer_name"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Awb Quanlity"
        prop="awb_qty"></ngx-datatable-column>
        <ngx-datatable-column [width]="350" [canAutoResize]="true" [resizeable]="true" name="Pick Up Address"
        prop="pick_up_address"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Pick Up Date"
        prop="pick_up_date"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Sales Note"
        prop="sales_note"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Pre Alert"
        prop="pre_alert"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Area"
        prop="area"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Pre Alert Note For Sales"
        prop="pre_alert_note_for_sales"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Pre Alert Note For Pickup"
        prop="pre_alert_note"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Pick Up"
        prop="picker"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Pick Up Note"
        prop="picker_note"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Created At"
        prop="created_at"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Update At"
        prop="updated_at"></ngx-datatable-column>
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="true" name="Created By"
        prop="created_by"></ngx-datatable-column>
    </ngx-datatable>

    <div class="export margin-top-10">
      <label class="label-export">{{'Export to:'|translate}}</label>
      <a (click)="exportCsv()" class="csv"></a>
    </div>
  </div>
</div>
