@import "src/@fuse/scss/fuse";

.title {
  text-align: center;
  font-weight: 700;
}

.submit-button {
  width: 220px;
  margin: 16px auto;
  display: block;
  background: #b3e5fc;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  @include media-breakpoint('xs') {
      width: 90%;
  }
}

.submit-button:hover {
  background-color: #61c5f3;
}

.input {
  height: 30px;
  background-color: #eff1ef;
  border-radius: 2px;
  padding-left: 10px;
  width: 100%;
}

.text-error {
  color: #f44336;
}

.custom-dialog {
  max-width: 600px
}

.custum-table {
  overflow: inherit;
  height: 300px
}
