<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">{{ title }}</span>
      </div>
      <div class="h2 mt-16">{{ title }}</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">

    <form [formGroup]="UserAdminForm" autocomplete="off" class="form">
      <div class="background-title mat-cyan-200-bg margin-top-10">
        <h2 class="title">{{ titleGroup }}</h2>
      </div>
      <div class="box-shadow-form margin-top-10">
        <div fxLayout="row">
          <mat-form-field fxFlex="25" class="mr-3">
            <input [readonly]="disabledForm" formControlName="username" matInput placeholder="User Name">
            <mat-error *ngIf="UserAdminForm.controls.username.hasError('required')">
              User Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="25" class="mr-3">
            <input [readonly]="disabledForm" formControlName="first_name" matInput placeholder="First Name">
            <mat-error *ngIf="UserAdminForm.controls.first_name.hasError('required')">
              First Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="25" class="mr-3">
            <input [readonly]="disabledForm" formControlName="last_name" matInput placeholder="Last Name">
            <mat-error *ngIf="UserAdminForm.controls.last_name.hasError('required')">
              Last Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="25">
            <input [readonly]="disabledForm" formControlName="email" matInput placeholder="Email">
            <mat-error *ngIf="UserAdminForm.controls.email.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="UserAdminForm.controls.email.hasError('invalidEmailAddress')">
              Email is invalid
            </mat-error>
          </mat-form-field>
        </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="25" class="mr-3">
              <mat-select [attr.disabled]="disabledForm" formControlName="status" placeholder="Status">
                <mat-option *ngFor="let item of status" [value]="item.value">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="mr-3">
              <input [readonly]="disabledForm" formControlName="emp_code" matInput placeholder="EMP Code">
              <mat-error *ngIf="UserAdminForm.controls.emp_code.hasError('required')">
                EMP Code is required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="mr-3">
              <input [readonly]="disabledForm" formControlName="phone" matInput placeholder="Phone">
              <mat-error *ngIf="UserAdminForm.controls.phone.hasError('required')">
                Phone is required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25">
              <input [readonly]="disabledForm" formControlName="phone_extend" matInput placeholder="Phone Extend">
              <mat-error *ngIf="UserAdminForm.controls.phone_extend.hasError('required')">
                Phone Extend is required
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="25" class="mr-3">
              <input [readonly]="disabledForm" formControlName="mobile" matInput placeholder="Mobile">
              <mat-error *ngIf="UserAdminForm.controls.mobile.hasError('required')">
                Mobile is required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="mr-3">
              <input [readonly]="disabledForm" formControlName="off_loc" matInput placeholder="Off Loc">
              <mat-error *ngIf="UserAdminForm.controls.off_loc.hasError('required')">
                Off Loc is required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="mr-3">
              <input [readonly]="disabledForm" formControlName="usr_dpm_id" matInput placeholder="User DPM ID">
              <mat-error *ngIf="UserAdminForm.controls.usr_dpm_id.hasError('required')">
                User Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25">
              <input [readonly]="disabledForm" formControlName="area" matInput placeholder="Area">
              <mat-error *ngIf="UserAdminForm.controls.area.hasError('required')">
                Area is required
              </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex="25">
            <input [readonly]="disabledForm" formControlName="dept" matInput placeholder="Dept">
            <mat-error *ngIf="UserAdminForm.controls.dept.hasError('required')">
              Dept is required
            </mat-error>
          </mat-form-field>
          </div>
          <div class="box-shadow-form">
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="Roles">
              <div style="display: block; text-align: right;">
                  <button (click)="addRole()" class="mt-3 mb-3" *ngIf="!disabledForm" mat-raised-button color="accent">
                      <mat-icon style="color: white">add_circle_outline</mat-icon>
                      <span>Add Roles</span>
                  </button>
                  <button (click)="deleteRole()" class="mt-3 mb-3" *ngIf="!disabledForm" mat-raised-button color="accent">
                    <mat-icon style="color: white">delete_forever</mat-icon>
                    <span>Delete Roles</span>
                </button>
              </div>
                <ngx-datatable class="material" [rows]="rows"
                [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable"
                [selectionType]="'checkbox'" [selected]="selected"  [scrollbarH]="true">

                <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Code" prop="code"></ngx-datatable-column>

                <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>

                <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
              </ngx-datatable>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <button class="button-cancel" mat-raised-button (click)="cancel()">{{ buttonCancel }}</button>
      <button *ngIf="!disabledForm" class="button-submit" mat-raised-button color="accent"
       (click)="onSubmit()">{{ buttonType }}</button>
    </form>
  </div>
</div>
