<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Create AWB Customer</span>
      </div>
      <div class="h2 mt-16">Create AWB Customer</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">
    <form [formGroup]="AWBForm" autocomplete="off">
      <div class="form">
        <h2 style="color:#03a9f4">Biểu mẫu hàng hóa</h2>
        <div class="row">
          <div class="half" style="padding-right: 5px;">
            <div class="background-title mat-cyan-200-bg">
              <h2 class="title">Số tài khoản thanh toán cước và chi tiết bảo hiểm</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <label class="title-control">Tính cước vào</label>
              <div fxLayout="row">
                <mat-radio-group fxFlex="100" class="padding-left-10" style="display: block !important; margin-top:20px"
                  formControlName="charging_in" fxLayout="column">
                  <mat-radio-group>
                    <mat-radio-button class="example-margin" value="0">Người gửi
                    </mat-radio-button>
                    <mat-radio-button class="example-margin margin-left-20" value="1">Người nhận
                    </mat-radio-button>
                    <mat-radio-button class="example-margin margin-left-20" value="2">Bên thứ 3
                    </mat-radio-button>
                    <mat-checkbox class="margin-left-20" [checked]="selected" (change)="isCash()">Tiền
                      mặt
                    </mat-checkbox>
                  </mat-radio-group>
                </mat-radio-group>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100" class="width-control-full">
                  <input formControlName="from_address" matInput placeholder="Số tài khoản thanh toán cước (*)">
                  <mat-error *ngIf="AWBForm.controls.from_address.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <label class="title-control">Bảo hiểm hàng hóa</label>
                <mat-checkbox class="margin-left-20" [checked]="selected" (change)="isSelectYesShipping()">Có
                </mat-checkbox>
              </div>

              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="insured_value" matInput placeholder="Giá trị bảo hiểm">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="local_currency" matInput placeholder="Nội tệ">
                </mat-form-field>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Từ (Người gửi)</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="sender_account" matInput placeholder="Số tài khoản người gửi (*)">
                  <mat-error *ngIf="AWBForm.controls.sender_account.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="name" matInput placeholder="Họ và tên (*)">
                  <mat-error *ngIf="AWBForm.controls.name.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <mat-select formControlName="reference_number_of_the_sender" placeholder="Số tham khảo của người gởi">
                    <mat-option *ngFor="let item of referenceNumber" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="shipping_company_name" matInput placeholder="Tên công ty gửi hàng (*)">
                  <mat-error *ngIf="AWBForm.controls.shipping_company_name.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
                <mat-checkbox fxFlex="50" style="margin-top: 23px;" class="margin-left-20" [checked]="selected"
                  (change)="isSelectYes()">Địa chỉ cư
                  trú
                </mat-checkbox>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <mat-select formControlName="country_shipping" placeholder="Quốc gia (*)">
                    <mat-option *ngFor="let item of country" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="city_shipping" matInput placeholder="Thành phố (*)">
                  <mat-error *ngIf="AWBForm.controls.city_shipping.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input formControlName="address_shipping" matInput placeholder="Địa chỉ (*)">
                  <mat-error *ngIf="AWBForm.controls.address_shipping.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="zip_code_shipping" matInput placeholder="Mã bưu điện">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="neighbourhood_shipping" matInput placeholder="Vùng phụ cận">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field style="width: 70px; margin-left: 10px">
                  <mat-select formControlName="code_phone_number_shipping" placeholder="">
                    <mat-option *ngFor="let item of codePhoneNumber" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="phone_number_shipping" matInput placeholder="Số điện thoại">
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <div fxFlex="50">
                  <label class="title-control">Federal Tax ID</label>
                </div>
                <div fxFlex="50">
                  <label class="title-control">IE/RG</label>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="50">
                  <mat-radio-group class="padding-left-10" style="display: block !important; margin-top:20px"
                    formControlName="federal_tax_id_shipping" fxLayout="column">
                    <mat-radio-group>
                      <mat-radio-button *ngFor="let item of federalTaxId" class="example-margin custom-radio"
                        [value]="item.value">{{ item.name }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </mat-radio-group>
                </div>
                <div fxFlex="50"></div>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="unknow_1_shipping" readonly matInput placeholder="">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="unknow_2_shipping" readonly matInput placeholder="">
                </mat-form-field>
              </div>
            </div>

            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Đến (người nhận)</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="receiving_company_name" matInput placeholder="Tên công ty nhận hàng (*)">
                  <mat-error *ngIf="AWBForm.controls.receiving_company_name.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
                <mat-checkbox fxFlex="50" style="margin-top: 23px;" class="margin-left-20" [checked]="selected"
                  (change)="isSelectYesReceiving()">Địa chỉ cư
                  trú
                </mat-checkbox>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <mat-select formControlName="country_receiving" placeholder="Quốc gia (*)">
                    <mat-option *ngFor="let item of country" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="city_receiving" matInput placeholder="Thành phố (*)">
                  <mat-error *ngIf="AWBForm.controls.city_receiving.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input formControlName="address_receiving" matInput placeholder="Địa chỉ (*)">
                  <mat-error *ngIf="AWBForm.controls.address_receiving.hasError('required')">
                    Bắt buộc
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="zip_code_receiving" matInput placeholder="Mã bưu điện">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="neighbourhood_receiving" matInput placeholder="Vùng phụ cận">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field style="width: 70px; margin-left: 10px">
                  <mat-select formControlName="code_phone_number_receiving" placeholder="">
                    <mat-option *ngFor="let item of codePhoneNumber" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="phone_number_receiving" matInput placeholder="Số điện thoại">
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <div fxFlex="50">
                  <label class="title-control">Federal Tax ID</label>
                </div>
                <div fxFlex="50">
                  <label class="title-control">IE/RG</label>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="50">
                  <mat-radio-group class="padding-left-10" style="display: block !important; margin-top:20px"
                    formControlName="federal_tax_id_receiving" fxLayout="column">
                    <mat-radio-group>
                      <mat-radio-button *ngFor="let item of federalTaxId" class="example-margin custom-radio"
                        [value]="item.value">{{ item.name }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </mat-radio-group>
                </div>
                <div fxFlex="50"></div>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input formControlName="unknow_1_receiving" readonly matInput placeholder="">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input formControlName="unknow_2_receiving" readonly matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="half" style="padding-left: 5px;">
            <div class="background-title mat-cyan-200-bg">
              <h2 class="title">Sản phẩm & dịch vụ</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <mat-select formControlName="type_of_shipment" placeholder="Loại lô hàng">
                    <mat-option *ngFor="let item of typeOfShipment" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <mat-select formControlName="product" placeholder="Sản phẩm">
                    <mat-option *ngFor="let item of product" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-checkbox fxFlex="100" style="margin-top: 23px;" class="margin-left-20" [checked]="selected"
                  (change)="isDeiveryNotification($event)">Thông báo giao hàng
                </mat-checkbox>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100" class="margin-left-10">
                  <input formControlName="delivery_notifitcation" [readonly]="deiveryNotification" matInput
                    placeholder="">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-checkbox fxFlex="100" style="margin-top: 23px;" class="margin-left-20" [checked]="selected"
                  (change)="isDeiveryByEmail($event)">Tóm tắt gửi hàng qua email
                </mat-checkbox>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100" class="margin-left-10">
                  <input formControlName="delivery_by_email" [readonly]="deiveryByEmail" matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Chi tiết hàng hóa</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <table class="table table-striped table-bordered mat-cyan-50-bg">
                <thead>
                  <tr>
                    <th>Kiện (*)</th>
                    <th>Trọng lượng/ KGS (*)</th>
                    <th>Chiều dài (CM)</th>
                    <th>Chiều rộng (CM)</th>
                    <th>Chiều cao (CM)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody formArrayName="items">
                  <tr *ngFor="let item of AWBForm.get('items').controls; let i = index" [formGroupName]="i">
                    <td class="border-table">
                      <input formControlName="package" matInput (keypress)="checkInputNumber($event,true)"
                        (blur)="totalPackage()">
                      <mat-error
                        *ngIf="AWBForm.controls.items.controls[i].controls.package.hasError('required') && AWBForm.controls.items.controls[i].controls.touched">
                        Bắt buộc
                      </mat-error>
                    </td>
                    <td class="border-table">
                      <input formControlName="weight" matInput (keypress)="checkInputNumber($event,true)"
                        (blur)="totalWeight()">
                      <mat-error
                        *ngIf="AWBForm.controls.items.controls[i].controls.weight.hasError('required') && AWBForm.controls.items.controls[i].controls.weight.touched">
                        Bắt buộc
                      </mat-error>
                    </td>
                    <td class="border-table">
                      <input formControlName="length" matInput (keypress)="checkInputNumber($event,true)">
                    </td>
                    <td class="border-table">
                      <input formControlName="width" matInput (keypress)="checkInputNumber($event,true)">
                    </td>
                    <td class="border-table">
                      <input formControlName="height" matInput (keypress)="checkInputNumber($event,true)">
                    </td>
                    <td class="border-table">
                      <button mat-raised-button (click)="deleteMoreItem(i)">
                        <mat-icon class="button-in-table">delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-left: 10px;">
                      <button mat-raised-button (click)="addMoreItem($event)">
                        <mat-icon class="button-in-table">add_circle</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <label>Tổng số kiện</label>
                  <input readonly formControlName="total_package" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="100">
                <mat-form-field fxFlex="100">
                  <label>Tổng trọng lượng</label>
                  <input readonly formControlName="total_weight" matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Mô tả hàng hóa</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <textarea rows="5" formControlName="description" matInput
                placeholder="Vui lòng mô tả nội dung và số lượng (*)"></textarea>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Chỉ dành cho hàng không phải là tài liệu (Yêu cầu thủ tục hải quan)</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input placeholder="Số VAT/GST của người gửi" formControlName="num_VAT_of_sender" matInput>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input placeholder="Số VAT/GST của người nhận" formControlName="num_VAT_of_receipent" matInput>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <input placeholder="Số VAT/GST của người gửi" formControlName="num_VAT_of_sender" matInput>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input placeholder="Số VAT/GST của người nhận" formControlName="num_VAT_of_receipent" matInput>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="70">
                  <input placeholder="Trị giá lô hàng khai báo hải quan" formControlName="value_of_shipment" matInput>
                </mat-form-field>
                <mat-form-field fxFlex="30" class="margin-left-10">
                  <mat-select formControlName="type_of_money" placeholder="Sản phẩm">
                    <mat-option *ngFor="let item of typeOfCurrency" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Mã số hàng hóa" formControlName="item_number" matInput>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <mat-form-field fxFlex="50">
                  <mat-select readonly formControlName="FTR_except" placeholder="(FTR) Miễn trừ">
                    <mat-option *ngFor="let item of FTRExcept" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50" class="margin-left-10">
                  <input placeholder="ITN" formControlName="ITN" matInput>
                </mat-form-field>
              </div>
              <div class="border"></div>
              <div fxLayout="row">
                <label>Loại hình xuất khẩu</label>
              </div>
              <div fxLayout="row">
                <mat-radio-group fxFlex="100" class="padding-left-10" style="display: block !important; margin-top:20px"
                  formControlName="type_of_export" fxLayout="column">
                  <mat-radio-group>
                    <mat-radio-button class="example-margin" value="0">Cố định
                    </mat-radio-button>
                    <mat-radio-button class="example-margin margin-left-20" value="1">Tạm xuất
                    </mat-radio-button>
                    <mat-radio-button class="example-margin margin-left-20" value="2">Sửa/ Tái nhập
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-radio-group>
              </div>
              <div class="border margin-top-10"></div>
              <div fxLayout="row">
                <label>Nơi chịu thuế nhập khẩu/ thuế tổng quan</label>
              </div>
              <div fxLayout="row">
                <mat-radio-group fxFlex="100" class="padding-left-10" style="display: block !important; margin-top:20px"
                  formControlName="place_of_taxable" fxLayout="column">
                  <mat-radio-group>
                    <mat-radio-button class="example-margin" value="0">Người nhận
                    </mat-radio-button>
                    <mat-radio-button class="example-margin margin-left-20" value="1">Người gửi
                    </mat-radio-button>
                    <mat-radio-button class="example-margin margin-left-20" value="2">Khác
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-radio-group>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Số tài khoản đã được cho phép trả thuế nhập khẩu" formControlName="allow_to_pay"
                    matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Thỏa thuận của người gửi hàng</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <label>Trừ phi có những điều đồng ý khác được viết ra. Tôi/ chúng tôi đồng ý với các điều khoản và điều
                  kiện vận chuyển
                  của VietExpress trên tất cả các mục của hợp đồng giữa tôi/ chúng tôi và VietExpress
                  và (1) các điều khoản và điều kiện như thến này.
                </label>
              </div>
              <div fxLayout="row">
                <label>(Xem <a link="">Điều khoản và Điều kiện</a> )</label>
              </div>
              <div fxLayout="row">
                <mat-checkbox>Tôi đồng ý
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Page 2 -->

      <div class="form" style="margin-top: 30px">
        <h2 style="color:#03a9f4">Chứng từ hải quan</h2>
        <div>
          <label>(Chỉ sử dụng cho hàng hóa)</label>
        </div>
        <div class="row margin-top-10">
          <div class="half" style="padding-right: 5px;">
            <div class="background-title mat-cyan-200-bg">
              <h2 class="title">Người gửi</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <div fxLayout="row">
                  <div fxFlex="100" style="height: 250px">
                  </div>
                </div>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Người nhận</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <div fxLayout="row">
                  <div fxFlex="100" style="height: 250px">
                  </div>
                </div>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Tính tiền cho bên thứ ba</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <div fxLayout="row">
                  <div fxFlex="100" style="height: 250px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="half" style="padding-left: 5px;">
            <div class="background-title mat-cyan-200-bg">
              <h2 class="title">Hóa đơn chi tiết</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <mat-select formControlName="type_of_invoice" placeholder="Kiểu hóa đơn">
                    <mat-option *ngFor="let item of typeOfInVoice" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input formControlName="date_detail" matInput [matDatepicker]="picker" placeholder="Ngày">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Số hóa đơn" formControlName="num_of_invoice" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Số tham chiếu" formControlName="reference_num" matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg margin-top-10">
              <h2 class="title">Điều khoản vận chuyển</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Số GST/VAT người trả tiền" formControlName="num_of_payer" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Loại hình xuất khẩu" formControlName="type_of_export_express" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Thời hạn thanh toán" formControlName="payment_term" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Mã tiền tệ" formControlName="code_currency" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <mat-select formControlName="business_term" placeholder="Điều khoản thương mại">
                    <mat-option *ngFor="let item of typeOfInVoice" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input placeholder="Số nhận dạng nhân viên (FIN)" formControlName="employee_identification_num"
                    matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="background-title mat-cyan-200-bg">
              <h2 class="title">Bình luận</h2>
            </div>
            <div class="box-shadow-form margin-top-10">
              <div fxLayout="row">
                <div fxFlex="100" style="height: 100px">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="margin-top-10" mat-raised-button color="accent" (click)="addMaterial()">Thêm mặt hàng</button>
        <label class="margin-top-10">Xin lưu ý rằng có tối đa 10 mặt hàng có thể thêm vào</label>
        <div class="background-title mat-cyan-200-bg margin-top-10">
          <h2 class="title">Mô tả mặt hàng</h2>
        </div>
        <div class="box-shadow-form margin-top-10">
          <table class="table table-striped table-bordered mat-cyan-50-bg">
            <thead>
              <tr>
                <th>Không</th>
                <th>Mô tả đầy đủ về hàng hóa (*)</th>
                <th>Số lượng (*)</th>
                <th>Đơn vị tính</th>
                <th>Mã thương mại</th>
                <th>Đơn vị giá trị (*)</th>
                <th>Tổng giá trị</th>
                <th>Đơn vị tịnh/ Trọng lượng</th>
                <th>Tổng trọng lượng</th>
                <th>Quốc gia gốc (*)</th>
              </tr>
            </thead>
            <tbody formArrayName="items_license">
              <tr *ngFor="let item of AWBForm.get('items_license').controls; let x = index" [formGroupName]="x">
                <td class="border-table">
                  <input formControlName="number_unknown" matInput (keypress)="checkInputNumber($event,true)">
                </td>
                <td class="border-table">
                  <input formControlName="des_of_material" matInput>
                  <mat-error
                    *ngIf="AWBForm.controls.items_license.controls[x].controls.des_of_material.hasError('required') && AWBForm.controls.items_license.controls[x].controls.des_of_material.touched">
                    Bắt buộc
                  </mat-error>
                </td>
                <td class="border-table">
                  <input formControlName="amount" matInput (keypress)="checkInputNumber($event,true)">
                </td>
                <td class="border-table">
                  <mat-select formControlName="unit">
                    <mat-option *ngFor="let item of Unit" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </td>
                <td class="border-table">
                  <input formControlName="unit_of_value" matInput (keypress)="checkInputNumber($event,true)">
                  <mat-error
                    *ngIf="AWBForm.controls.items_license.controls[x].controls.unit_of_value.hasError('required') && AWBForm.controls.items_license.controls[x].controls.unit_of_value.touched">
                    Bắt buộc
                  </mat-error>
                </td>
                <td class="border-table">
                  <input readonly formControlName="total_of_value" matInput (keypress)="checkInputNumber($event,true)">
                </td>
                <td class="border-table">
                  <input formControlName="net_weight" matInput (keypress)="checkInputNumber($event,true)">
                </td>
                <td class="border-table">
                  <input readonly formControlName="total_net_weight" matInput
                    (keypress)="checkInputNumber($event,true)">
                </td>
                <td class="border-table">
                  <mat-select formControlName="country">
                    <mat-option *ngFor="let item of country" [value]="item.value">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </td>
              </tr>
            </tbody>
          </table>
          <div fxLayout="row">
            <mat-form-field fxFlex="50">
              <label>Tổng giá trị khai thuế</label>
              <input readonly formControlName="total_tax_license" matInput>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="margin-left-10">
              <label>Tổng trọng lượng tịnh</label>
              <input readonly formControlName="total_net_weight_license" matInput>
            </mat-form-field>
          </div>
        <div fxLayout="row">
          <mat-form-field fxFlex="50">
            <label>Tổng số kiện</label>
            <input readonly formControlName="total_package_license" matInput>
          </mat-form-field>
          <mat-form-field fxFlex="50" class="margin-left-10">
            <label>Tổng trọng lượng</label>
            <input readonly formControlName="total_weight_license" matInput>
          </mat-form-field>
        </div>
      </div>

      <!-- Page 3 -->


  </div>
  <button class="button-submit" mat-raised-button color="accent" (submit)="onSubmit()">Create</button>
  </form>
</div>

</div>