<ng2-toasty></ng2-toasty>
<div class="title">Update Fee Order</div>

<div class="page-layout simple fullwidth" style="min-width: 300px">
  <form name="form" [formGroup]="form" novalidate>
    <div>
        <span class="ml-4 mb-4" style="font-weight: 500;">Order Name: </span><span>{{data['data'][0]['odr_name']}}</span>
    </div>
    <div>
        <span class="ml-4 mb-4" style="font-weight: 500;">AWB: </span><span>{{data['data'][0]['awb_num']}}</span>
    </div>
    <mat-form-field class="col-sm-12">
      <mat-select [attr.disabled]="true" formControlName="odr_status" placeholder="Status">
        <mat-option style="top:0 !important" [value]="">
          Please select option
        </mat-option>
        <mat-option
          style="top:0 !important"
          *ngFor="let item of status"
          [value]="item.value"
        >
          {{ item.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-sm-12">
        <input formControlName="cus_other_fee" matInput placeholder="Vietlight Order Fee (VND)" />
      </mat-form-field>
      <mat-form-field class="col-sm-12">
          <input formControlName="sales_note_for_cs" matInput placeholder="CS Note about Fee" />
        </mat-form-field>
  </form>
  <div style="margin:auto">
    <button
      (click)="save()"
      class="mt-3 mr-1"
      color="accent"
      style="height: 40px"
      mat-raised-button
    >
      Save
    </button>
  </div>
</div>
