<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Customer List</span>
            </div>
            <div class="h2 mt-16">Customer List</div>
        </div>

        <div class="reference-button mat-white-bg">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngIf="hasCreateUserPermission" mat-menu-item (click)="create()">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Create</span>
                </button>
                <button *ngIf="hasEditUserPermission" mat-menu-item (click)="update()">
                  <mat-icon>system_update_alt</mat-icon>
                  <span>Update</span>
                </button>
                <button mat-menu-item (click)="delete()">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-24">
        <form id="form-control" class="row" [formGroup]="searchForm" autocomplete="off">
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="account_number" matInput placeholder="Account Number">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="login_name" matInput placeholder="Login Name">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="customer_name" matInput placeholder="Customer Name">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="phone" matInput placeholder="Customer Phone">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="tax_number" matInput placeholder="Tax Number">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="zip_code" matInput placeholder="Zip Code">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="city" matInput placeholder="City">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="province" matInput placeholder="Province">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="created_by" matInput placeholder="Created By">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
              <mat-select formControlName="status" placeholder="Status">
                <mat-option *ngFor="let item of status" [value]="item.value">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="contact_name" matInput placeholder="Contact Name">
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
                <input formControlName="contact_phone" matInput placeholder="Contact Phone">
            </mat-form-field>
            <span class="format-line-height-button">
              <button mat-raised-button color="accent" (click)="getList()">Search</button>
              <button mat-raised-button (click)="reset()">Reset</button>
            </span>
        </form>

            <ngx-datatable (page)="pageCallback($event)" class="material" [rows]="rows" (tableContextmenu)="onTableContextMenu($event)"
            [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
            [rowHeight]="'auto'" [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="total"
            [selected]="selected" (select)="onSelect($event)" [externalPaging]="true" [offset]="current_page"
            [limit]="15" [scrollbarH]="true" (sort)="onSort($event)" [externalSorting]="true">

            <ngx-datatable-column [frozenLeft]="true" [width]="48" [canAutoResize]="false" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [frozenLeft]="true" [width]="100" name="Customer ID" prop="customer_id_link"></ngx-datatable-column>

            <ngx-datatable-column [frozenLeft]="true" [width]="150" name="Account Number" prop="account_number"></ngx-datatable-column>

            <ngx-datatable-column [frozenLeft]="true" [width]="150" name="Login Name" prop="loginname"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Customer Name" prop="customer_name"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Customer Email" prop="customer_email"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Customer Phone" prop="customer_phone"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Tax Number" prop="tax_number"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Zip Code" prop="zip_code"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="City" prop="city"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Province" prop="province"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Create By" prop="created_by"></ngx-datatable-column>

            <ngx-datatable-column [width]="200" name="Status" prop="status"></ngx-datatable-column>
        </ngx-datatable>
        <div class="export margin-top-10">
          <label class="label-export">Export to:</label>
          <a (click)="exportCsv()" class="csv"></a>
        </div>
    </div>
</div>
