<ng2-toasty></ng2-toasty>

<div
  id="ngx-datatable"
  class="page-layout simple fullwidth"
  fusePerfectScrollbar
>
  <!-- HEADER -->
  <div
    class="header mat-accent-bg p-24  h-110"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayout.gt-xs="column"
      fxLayoutAlign.gt-xs="center start"
    >
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">{{ title }}</span>
      </div>
      <div class="h2 mt-16">{{ title }}</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">
    <form
      [formGroup]="InvoiceForm"
      autocomplete="off"
      class="form"
      (submit)="onSubmit()"
    >
      <div class="background-title mat-cyan-200-bg margin-top-10">
        <h2 class="title">{{ titleGroup }}</h2>
      </div>
      <div class="box-shadow-form margin-top-10">
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="invoice_id"
              matInput
              placeholder="Invoice ID"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.invoice_id.hasError('required')"
            >
              Invoice ID is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="invoice_name"
              matInput
              placeholder="Invoice Name"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.invoice_name.hasError('required')"
            >
              Invoice Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="awb_code"
              matInput
              placeholder="AWB Code"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.awb_code.hasError('required')"
            >
              AWB Code is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="shipping_name"
              matInput
              placeholder="Shipping Name"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.shipping_name.hasError('required')"
            >
              Shipping Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="invoice_des"
              matInput
              placeholder="Invoice Description"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.invoice_des.hasError('required')"
            >
              Invoice Description is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="total_unit"
              matInput
              placeholder="Total Unit"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.total_unit.hasError('required')"
            >
              Total Unit is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="total_invoice_value"
              matInput
              placeholder="Total Invoice Value"
            />
            <mat-error
              *ngIf="
                InvoiceForm.controls.total_invoice_value.hasError('required')
              "
            >
              Total Invoice Value is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="created_at"
              matInput
              placeholder="Created At"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.created_at.hasError('required')"
            >
              Created At is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6">
            <input
              [readonly]="disabledForm"
              formControlName="updated_at"
              matInput
              placeholder="Updated At"
            />
            <mat-error
              *ngIf="InvoiceForm.controls.updated_at.hasError('required')"
            >
              Updated At is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="background-title mat-cyan-200-bg margin-top-10">
        <h2 class="title">Invoice Details</h2>
      </div>
      <div
        class="box-shadow-form margin-top-10"
        formArrayName="invoice_details"
      >
        <div
          class="demo-tab-content"
          *ngFor="
            let item of InvoiceForm.get('invoice_details')['controls'];
            let i = index
          "
          [formGroupName]="i"
        >
          <div class="background-title mat-cyan-200-bg mt-2">
            <h2 class="title">Row {{ i + 1 }}</h2>
          </div>
          <div class="box-shadow-form">
            <div class="row m-0">
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="full_des"
                  matInput
                  placeholder="Full Description"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.full_des.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .full_des.touched
                  "
                >
                  Full Description is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="vn_des"
                  matInput
                  placeholder="Vietnamese Description"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.vn_des.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .vn_des.touched
                  "
                >
                  Vietnamese Description is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="hs_name"
                  matInput
                  placeholder="Hs Name"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.hs_name.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .hs_name.touched
                  "
                >
                  Hs Name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="make_in_country_name"
                  matInput
                  placeholder="Make In Country Name"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.make_in_country_name.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .make_in_country_name.touched
                  "
                >
                  Make In Country Name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="material"
                  matInput
                  placeholder="Material"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.material.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .material.touched
                  "
                >
                  Material is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="quantity"
                  matInput
                  placeholder="Quantity"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.quantity.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .quantity.touched
                  "
                >
                  Quantity is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="oum_name"
                  matInput
                  placeholder="Uom Name"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.oum_name.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .oum_name.touched
                  "
                >
                  Uom Name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="unit_value"
                  matInput
                  placeholder="Unit Value"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.unit_value.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .unit_value.touched
                  "
                >
                  Unit Value is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="currency"
                  matInput
                  placeholder="Currency"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.currency.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .currency.touched
                  "
                >
                  Currency is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-3">
                <input
                  [readonly]="disabledForm"
                  formControlName="total_value"
                  matInput
                  placeholder="Total Value"
                />
                <mat-error
                  *ngIf="
                    InvoiceForm.controls.invoice_details['controls'][
                      i
                    ].controls.total_value.hasError('required') &&
                    InvoiceForm.controls.invoice_details['controls'][i].controls
                      .total_value.touched
                  "
                >
                  Total Value is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button
          [disabled]="action == 'detail'"
          class="mt-5"
          mat-raised-button
          (click)="addMoreItem($event)"
        >
          <mat-icon class="button-in-table">add_circle</mat-icon>
        </button>
      </div>
      <button class="button-cancel" mat-raised-button (click)="cancel()">
        {{ buttonCancel }}
      </button>
      <button
        *ngIf="!disabledForm"
        class="button-submit"
        mat-raised-button
        color="accent"
        type="submit"
      >
        {{ buttonSubmitType }}
      </button>
    </form>
  </div>
</div>
