.block {
  margin-top: 40px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.border-table {
  border-right: 1px solid #b3e5fc;
  border-bottom: 1px solid #b3e5fc;
  padding-left: 10px;
  padding-right: 10px;
}

.border-table:last-child {
  border-right: 0px;
}

.background-title {
  align-items: center;
  font-weight: 600;
  padding: 10;
  border-radius: 4px;
  .title {
      color: white;
      padding: 10px;
      margin: 0;
  }
}

.button-submit {
  margin-top: 30px;
  float: right;
}

.uploadfilecontainer {
  background-image: url("../../../../../../../assets/images/common/drag-drop.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}
