<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-accent-bg p-24  h-110" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Price List</span>
      </div>
      <div class="h2 mt-16">Price List</div>
    </div>

    <div class="reference-button mat-white-bg align-right"
      *ngIf="hasCreateUserPermission || hasEditUserPermission || hasDeleteUserPermission">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="hasCreateUserPermission" mat-menu-item (click)="create()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create</span>
        </button>
        <button *ngIf="hasEditUserPermission" mat-menu-item (click)="update()">
          <mat-icon>system_update_alt</mat-icon>
          <span>Update</span>
        </button>
        <button *ngIf="hasDeleteUserPermission" mat-menu-item (click)="delete()">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">

    <form id="form-control" class="row" [formGroup]="searchForm" autocomplete="off" (submit)="getList()">
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="service_id" placeholder="Service">
          <mat-option [value]="">
            Please select option
          </mat-option>
          <mat-option *ngFor="let item of service" [value]="item.service_id">
            {{ item.service_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="item_type_id" placeholder="Item Type">
          <mat-option *ngFor="let item of itemType" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="weight" matInput placeholder="Weight">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="zone" matInput placeholder="Zone">
      </mat-form-field>
      <!-- <mat-form-field class="mr-2 custom-selection">
        <input formControlName="zone" matInput placeholder="Zone">
      </mat-form-field> -->
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="is_rate" placeholder="Rate">
          <mat-option *ngFor="let item of rate" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="is_range" placeholder="Range">
          <mat-option *ngFor="let item of range" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <mat-select formControlName="range_id" placeholder="Range ID">
          <mat-option *ngFor="let item of rangeID" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="range_code" matInput placeholder="Range Code">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="min_range" matInput placeholder="Min">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="max_range" matInput placeholder="Max">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="value" matInput placeholder="Value">
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="currency" matInput placeholder="Currency">
      </mat-form-field>
      <span class="format-line-height-button">
        <button class="mr-2 mb-4" mat-raised-button color="accent" type="submit">Search</button>
        <button class="mr-2 mb-4" mat-raised-button (click)="reset()">Reset</button>
      </span>
    </form>

    <ngx-datatable (page)="pageCallback($event)" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable"
      [selectionType]="'checkbox'" [count]="total" [selected]="selected" [externalPaging]="true" [offset]="current_page"
      [limit]="15" [scrollbarH]="true" (sort)="onSort($event)" [externalSorting]="true" (tableContextmenu)="onTableContextMenu($event)">

      <ngx-datatable-column [width]="48" [canAutoResize]="true" [resizeable]="true" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn">
          <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="50" [canAutoResize]="true" [resizeable]="true" name="ID" prop="id">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="100" [canAutoResize]="true" [resizeable]="true" name="Service Name"
        prop="service_name">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="100" [canAutoResize]="true" [resizeable]="true" name="Item Type"
        prop="item_type_name">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Weight" prop="weight">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Zone" prop="zone">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Is Rate" prop="is_rate">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Is Range" prop="is_range">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Range ID" prop="range_id">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="150" [canAutoResize]="true" [resizeable]="true" name="Range Code"
        prop="range_code"></ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Min Range" prop="min_range">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" [canAutoResize]="true" [resizeable]="true" name="Max Range" prop="max_range">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="100" [canAutoResize]="true" [resizeable]="true" name="Value" prop="value">
      </ngx-datatable-column>

      <ngx-datatable-column [width]="150" [canAutoResize]="true" [resizeable]="true" name="Currency" prop="currency">
      </ngx-datatable-column>
    </ngx-datatable>

    <div class="export margin-top-10">
      <label class="label-export">Export to:</label>
      <a (click)="exportCsv()" class="csv"></a>
    </div>
  </div>
</div>
