<ng2-toasty></ng2-toasty>
<div class="title">Assign/Update CS</div>

<div class="page-layout simple fullwidth" style="max-width: 400px">
  <form name="form" [formGroup]="form" novalidate>
    <mat-form-field class="mt-3" style="width: 100%">
      <mat-select formControlName="cs_id" placeholder="CS">
        <mat-option *ngFor="let item of assignCS" [value]="item.user_id">
          {{ item.full_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mt-3" style="width: 100%">
      <input matInput placeholder="Sales Note For CS" formControlName="sales_note_for_cs" autocomplete="off">
      <mat-error class="text-error" *ngIf="form.controls.sales_note_for_cs.hasError('required')">
        Sales Note For CS is required
      </mat-error>
    </mat-form-field>
  </form>

  <div>
    <button mat-raised-button color="accent" class="submit-button" (click)="onSubmit()"
      [disabled]="form.invalid">
      Update
    </button>
  </div>
</div>
