<div class="title">Wave Pick Details</div>

<div class="page-layout simple fullwidth" style="width: 600px">
    <table>
        <tbody>
            <tr>
                <th scope="row">Wave Pick #</th>
                <td>{{ data.data.wv_hdr_num }}</td>
            </tr>
            <tr>
                <th scope="row">Wave Pick Status</th>
                <td>{{ data.data.wv_sts }}</td>
            </tr>
            <tr>
                <th scope="row">From Sale</th>
                <td>{{ data.data.picker_name }}</td>
            </tr>
            <tr>
                <th scope="row">Account Number</th>
                <td>{{ data.data.picker }}</td>
            </tr>
            <tr>
                <th scope="row">From Company</th>
                <td>{{ data.data.customer_name }}</td>
            </tr>
            <tr>
                <th scope="row">Company Address</th>
                <td>{{ data.data.pick_up_address }}</td>
            </tr>
            <tr>
                <th scope="row">Pick Up Address</th>
                <td>{{ data.data.pick_up_address }}</td>
            </tr>
            <tr>
                <th scope="row">From Phone</th>
                <td>{{ data.data.wv_sts }}</td>
            </tr>
            <tr>
                <th scope="row">Pick Up Date Time</th>
                <td>{{ data.data.pick_up_date }}</td>
            </tr>
            <tr>
                <th scope="row">Number of AWB (s)</th>
                <td>{{ data.data.awb_qty }}</td>
            </tr>
            <tr>
                <th scope="row">Assigned Pickup</th>
                <td>{{ data.data.wv_sts }}</td>
            </tr>
            <tr>
                <th scope="row">Sales Note</th>
                <td>{{ data.data.sales_note }}</td>
            </tr>
            <tr>
                <th scope="row">Pick Up Note</th>
                <td>{{ data.data.picker_note }}</td>
            </tr>
        </tbody>
    </table>
</div>
