<ng2-toasty></ng2-toasty>

<div id="forgot-password" fxLayout="column" fusePerfectScrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="forgot-password-form">

            <div class="logo">
                <img src="assets/images/logos/logo.png">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate (submit)="onSubmit()">

                <mat-form-field>
                    <input matInput placeholder="User Name" formControlName="username" autocomplete="off">
                    <mat-error *ngIf="submitted && forgotPasswordForm.controls.username.hasError('required')">
                        User Name is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK" [disabled]="submitted" type="submit">
                    SEND RESET LINK
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>