<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24  h-110" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">{{ title }}</span>
      </div>
      <div class="h2 mt-16">{{ title }}</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">

    <form [formGroup]="CustomerServiceForm" autocomplete="off" class="form" (submit)="onSubmit()">
      <div class="background-title mat-cyan-200-bg margin-top-10">
        <h2 class="title">{{ titleGroup }}</h2>
      </div>
      <div class="box-shadow-form margin-top-10">
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-4">
            <mat-select [attr.disabled]="disabledForm" formControlName="customer_id" placeholder="Customer">
              <mat-option [value]="">Please select one option</mat-option>
              <mat-option *ngFor="let item of customer" [value]="item.customer_id">
                {{ item.customer_name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="CustomerServiceForm.controls.customer_id.hasError('required')">
              Customer is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="disabledForm" formControlName="cus_service_code" matInput placeholder="Customer Service Code">
            <mat-error *ngIf="CustomerServiceForm.controls.cus_service_code.hasError('required')">
              Customer Service Code is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4">
            <input [readonly]="disabledForm" formControlName="cus_service_name" matInput placeholder="Customer Service Name">
            <mat-error *ngIf="CustomerServiceForm.controls.cus_service_name.hasError('required')">
              Customer Service Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-4" *ngIf="action === 'update'">
          <mat-select formControlName="status" placeholder="Status">
              <mat-option *ngFor="let item of status" [value]="item.value">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button class="button-cancel" mat-raised-button (click)="cancel()">{{ buttonCancel }}</button>
      <button *ngIf="!disabledForm" class="button-submit" mat-raised-button color="accent"
        type="submit">{{ buttonType }}</button>
    </form>
  </div>
</div>
