@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    #main-navigation {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.custom-nav {
  position: fixed;
  overflow: scroll;
  height: 100%;
  width: 292px;
}
