<ng2-toasty></ng2-toasty>

<div id="login" fxLayout="column" fusePerfectScrollbar>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo.png">
            </div>

            <div class="title">LOGIN ADMIN</div>


            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm.value)">

                <mat-form-field>
                    <input matInput placeholder="User Name" formControlName="username" autocomplete="off">
                    <mat-error *ngIf="loginForm.controls.username.hasError('required')">
                        User Name is required
                    </mat-error>
                    <!-- <mat-error *ngIf="!loginFormErrors.username.required">
                        Please enter a valid email address
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off">
                    <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <mat-checkbox (change)="changeCheckbox($event)" class="remember-me" aria-label="Remember Me" [(ngModel)]="checkRemember" [ngModelOptions]="{standalone: true}">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>

            <!-- <div class="separator">
                <span class="text">OR</span>
            </div>

            <button mat-raised-button class="google">
                Log in with Google
            </button>

            <button mat-raised-button class="facebook">
                Log in with Facebook
            </button> -->

            <!-- <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a>
            </div> -->

        </div>

    </div>

</div>
