<div class="title">Update Pick Up</div>

<div class="page-layout simple fullwidth">
  <form class="form" name="form" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">

    <div>
      <input class="input" matInput placeholder="Picker" formControlName="picker" autocomplete="off">
      <div class="text-error" *ngIf="form.controls.picker.hasError('required')">
        Picker is required
      </div>
    </div>

    <div class="mt-3">
      <input class="input" matInput placeholder="Pre Alert Note" formControlName="pre_alert_note" autocomplete="off">
      <div class="text-error" *ngIf="form.controls.pre_alert_note.hasError('required')">
        Pre Alert Note is required
      </div>
    </div>

    <div class="mt-3">
      <input class="input" matInput placeholder="Pre Aler Note For Sales" formControlName="pre_alert_note_for_sales" autocomplete="off">
      <div class="text-error" *ngIf="form.controls.pre_alert_note_for_sales.hasError('required')">
        Pre Aler Note For Sales is required
      </div>
    </div>

    <div>
      <button type="submit" mat-raised-button color="accent" class="submit-button" [disabled]="form.invalid">
        Update
      </button>
    </div>

  </form>
</div>
