<ng2-toasty></ng2-toasty>

<div
  id="ngx-datatable"
  class="page-layout simple fullwidth"
  fusePerfectScrollbar
>
  <!-- HEADER -->
  <div
    class="header mat-accent-bg p-24  h-110"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayout.gt-xs="column"
      fxLayoutAlign.gt-xs="center start"
    >
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Invoice List</span>
      </div>
      <div class="h2 mt-16">Invoice List</div>
    </div>

    <div
      class="reference-button mat-white-bg align-right"
      *ngIf="
        hasCreateInvoicePermission ||
        hasEditInvoicePermission ||
        hasDeleteInvoicePermission
      "
    >
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="hasDeleteInvoicePermission"
          mat-menu-item
          (click)="exportDetail()"
        >
          <mat-icon>cloud_download</mat-icon>
          <span>Export Detail</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">
    <form
      id="form-control"
      class="row"
      [formGroup]="searchForm"
      autocomplete="off"
    >
      <!-- <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input placeholder="Country Name" formControlName="country_name" (keyup)="getCountry($event)" type="text"
          aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option (click)="selectedOption(option.country_id)" style="top:0 !important"
            *ngFor="let option of country" [value]="option.country_name">
            {{ option.country_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <span class="format-line-height-button">
        <button mat-raised-button color="accent" (click)="getList()">
          Search
        </button>
        <button mat-raised-button (click)="reset()">Reset</button>
      </span>
    </form>

    <ngx-datatable
      (page)="pageCallback($event)"
      class="material"
      [rows]="rows"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [headerHeight]="48"
      [footerHeight]="56"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
      [selectionType]="'checkbox'"
      [count]="total"
      [selected]="selected"
      [externalPaging]="true"
      [scrollbarH]="true"
      [offset]="current_page"
      [limit]="15"
      (sort)="onSort($event)"
      [externalSorting]="true"
    >
      <ngx-datatable-column
        [width]="48"
        [canAutoResize]="true"
        [resizeable]="true"
        [sortable]="false"
      >
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <mat-checkbox
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
          ></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Invoice ID"
        prop="inv_hdr_id"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Invoice Name"
        prop="inv_name"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="AWB Code"
        prop="awb_code"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Shipping Name"
        prop="sp_name"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Invoice Description"
        prop="inv_description"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Total Unit"
        prop="total_unit"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Total Inv Value"
        prop="total_gross_weight"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Created At"
        prop="created_at"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Updated At"
        prop="updated_at"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Created By"
        prop="created_by"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Updated By"
        prop="updated_by"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="Is Skip"
        prop="is_skip"
      ></ngx-datatable-column>

      <ngx-datatable-column
        [canAutoResize]="true"
        [resizeable]="true"
        name="User ID"
        prop="user_id"
      ></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
