<ng2-toasty></ng2-toasty>

<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Customer Country Zone List</span>
      </div>
      <div class="h2 mt-16">Customer Country Zone List</div>
    </div>

    <div class="reference-button mat-white-bg align-right"
      *ngIf="hasCreateUserPermission || hasEditUserPermission || hasDeleteUserPermission">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="hasCreateUserPermission" mat-menu-item (click)="create()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create</span>
        </button>
        <button *ngIf="hasEditUserPermission" mat-menu-item (click)="update()">
          <mat-icon>system_update_alt</mat-icon>
          <span>Update</span>
        </button>
        <button *ngIf="hasDeleteUserPermission" mat-menu-item (click)="delete()">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="p-24">

    <form id="form-control" class="row" [formGroup]="searchForm" autocomplete="off">
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input placeholder="Service Name" formControlName="service_name" (keyup)="getService($event)" type="text"
          aria-label="Number" matInput [matAutocomplete]="autoServiceName">
        <mat-autocomplete autoActiveFirstOption #autoServiceName="matAutocomplete">
          <mat-option *ngFor="let option of serviceName" [value]="option.service_name">
            {{ option.service_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input placeholder="Country Name" formControlName="country_name" (keyup)="getCountry($event)" type="text"
          aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of country" [value]="option.country_name">
            {{ option.country_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-3 col-lg-2">
        <input formControlName="zone" matInput placeholder="Zone">
      </mat-form-field>
      <span class="format-line-height-button">
        <button mat-raised-button color="accent"
          (click)="getList()">Search</button>
        <button mat-raised-button (click)="reset()">Reset</button>
      </span>
    </form>

    <ngx-datatable (page)="pageCallback($event)" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable"
      [selectionType]="'checkbox'" [count]="total" [selected]="selected"
      [externalPaging]="true" [scrollbarH]="true" [offset]="current_page" [limit]="15" (sort)="onSort($event)" [externalSorting]="true">

      <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn">
          <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>

      <ngx-datatable-column name="Cus Service ID" prop="cus_service_id"></ngx-datatable-column>

      <ngx-datatable-column name="Cus Service Name" prop="cus_service_name"></ngx-datatable-column>

      <ngx-datatable-column name="Country Name" prop="country_name"></ngx-datatable-column>

      <ngx-datatable-column name="State Code" prop="state_code"></ngx-datatable-column>

      <ngx-datatable-column name="State Name" prop="state_name"></ngx-datatable-column>

      <ngx-datatable-column name="Zone" prop="zone"></ngx-datatable-column>

      <ngx-datatable-column name="Active" prop="active"></ngx-datatable-column>

    </ngx-datatable>

    <div class="export margin-top-10">
      <label class="label-export">Export to:</label>
      <a (click)="exportCsv()" class="csv"></a>
    </div>
  </div>
</div>
